* {
  box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  font-size: 1.4em;
  background: #F0F0F1;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 7vw;
}

h1 small {
  display: block;
  font-size: 40%;
  color: #F0F0F1;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.topbar {
  text-align: left;
  color: #fff;
  padding: 0.5rem 2rem;
  background: crimson;
  box-shadow: 2px rgba(0, 0, 0, 1)
}

.main {
  margin-top: 3rem;
}

.alert {
  display: block;
  color: crimson;
  font-size: small;
}

.row {
  margin-bottom: 1rem;
  padding: 2rem;
  background: #fff;
  border: 1px #ccc solid;
}

.row label {
  display: block;
  margin-bottom: 1rem
}

.row input {
  width: 65%;
  padding: 0.5rem;
}

.row select {
  width: 100%;
  min-width: 220px;
  padding: 0.5rem;
  font-size: large;
}

.row button {
  width: auto;
  padding: 0.5rem;
  min-width: 5rem;
  max-width: 10rem;
}

.display-area {
  list-style-type: none;
}

footer {
  padding: 2rem;
  text-align: center;
  font-size: small;
  background-color: crimson;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5vw;
  }
}